
<h1>Filters</h1>
<span class="From"><strong>From: </strong><input type="date" name="From" /></span>
<span class="To"><strong>To: </strong><input type="date" name="To" /></span>
<h3>Currency</h3>
<select name="currency" class="Currency">
  <option value="USD" selected>USD</option>
  <option value="EUR">EUR</option>
</select>
<h1>Values</h1>
<h3><strong>Max: </strong><span class="Max"></span></h3>
<h3><strong>Min: </strong><span class="Min"></span></h3>
<canvas id="my-chart"></canvas>