
<h1>Filters</h1>
<span class="From"><strong>From: </strong><input type="date" name="From" /></span>
<span class="To"><strong>To: </strong><input type="date" name="To" /></span>
<canvas id="my-chart"></canvas>